# 1. Виртуальное окружение (весит много, генерируется локально)
venv/
env/
.venv/

# 2. Базы данных SQLite (у каждого должна создаваться своя пустая БД)
*.db
*.sqlite
*.sqlite3

# 3. Системный кэш Питона (временные файлы)
__pycache__/
*.pyc
*.pyo

# 4. Кэш юнит-тестов
.pytest_cache/

# 5. Секретные файлы (если в будущем добавишь ключи или пароли)
.env